{% extends 'display_stats/base.html' %}
{% block title %} {% endblock %}


{% block content %}
    <h3>Under development, please drop by a bit later )) </h3>
<div>
    This is a two part project: parser + front end/visualization, both are independent from each other.<br>
    Git repos:
   <li> Django app to present data <a href = "https://bitbucket.org/valeramaniuk/enrollment_statistics_frontend">is here</a>.
   Visualization was done with <a href ="https://plot.ly/">plot.ly</a></li>
   <li> Python parser for source PDF files <a href = "https://bitbucket.org/valeramaniuk/enrollment_statistics_parser"> is here </a>.
   Multithreaded and is able to work on distributed systems. However, as of now - the RDS server can hanle only one parsing server at ~35 threads</li>
</div>
<div>
    <img src="https://s3-us-west-1.amazonaws.com/csun.ninja.pics/cloudcraft+-+csun.ninja+arch+1.png" width="90%">
</div>

{% endblock %}