
<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

<head>
    {% block head %}
    {% endblock %}
</head>

<body>
<div class="row">
    <div class="col-sm-1"> </div>

    <div class="col-sm-10">
            <nav class="navbar navbar">
              <div class="container-fluid">
                <div class="navbar-header">
                </div>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="{% url 'overview' %}">Overview</a></li>
                  <li class="active"><a href="{% url 'courses_list' %}">Courses</a></li>
                  <li class="active"><a href="{% url 'instructors' %}">Instructors</a></li>
                  <li class="active"><a href="{% url 'raw_data_term' term='fall2017' %}">Raw Data Fall 2017</a></li>
                  <li class="active"><a href="{% url 'raw_data_term' term='spring2017' %}">Raw Data Spring 2017</a></li>
                  <li class="active"><a href="{% url 'about' %}">How it works</a></li>
{#                  <li class="active"><a href="{% url 'draw_all_subjects' %}">Redraw overview</a></li>#}
                </ul>
              </div>
            </nav>
    </div>

    <div class="col-sm-1"></div>
</div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 style="color: red" >TEST SERVER</h1>
          {% block content %}{% endblock %}

      </div>
      <div class="col-sm-2"></div>
    </div>

</div>
</body>
</html>