{% extends 'display_stats/base.html' %}
{% block title %}
    {% if course %}
        Enrollment data for course {{ course.course_title }} CSUN Spring 2017
    {% else %}
     List of courses offered in CSUN Spring 2017 with detailed enrollment data
    {% endif %}
{% endblock %}
{% block content %}

    {% if course %}
      <h3>  {{ course.course_subject }}
        {{ course.course_level }}
        ({{ course.course_type }} {{ course.course_units }} units)
        {{ course.course_title }}</h3>
    {% endif %}

{#    IF we show cummulative data for the subject#}
    {% if course_subject %}
        <h3>{{ course_subject }} cumulative</h3>
    {% endif %}


    {% if course_embed %}
        <iframe width="800" height="500" frameborder="0" scrolling="no" src="{{ course_embed }}"></iframe>
        <br><br>
    {% endif %}

    {% if list_of_section_embeds_and_section_info %}
        {% for section_embed, section in list_of_section_embeds_and_section_info %}
            <br>
            {{ section.class_number }}
            {% for schedule in section.section_schedule.all %}

                {% if schedule.instructor != 'Staff' %}
                    <a href ="{% url  'instructors' instructor=schedule.instructor %}">{{ schedule.instructor }}</a>
                {% else %}
                    {{ schedule.instructor }}
                {% endif %}

{#                <a href ="{% url 'instructors' instructor=schedule.instructor %}">#}
{#                    {{schedule.instructor}}#}
{#                </a>#}
                {{schedule.days}}
                {{schedule.time_start }}-
                {{schedule.time_end }}
                {{schedule.room }}
                <br>
            {% endfor %}





            <br>
            <iframe width="800" height="300" frameborder="0" scrolling="no" src="{{ section_embed }}"></iframe>
        {% endfor %}
    {% endif %}


{#    The list of all courses#}
    <br>
    <div class ="well">
    {% for subject, level_list in all_levels.items %}

            <p>
            <b><a href="{% url 'courses_subject_only'  course_subject=subject%}">
                {{ subject }} (cumulative) |
            </a></b>

            {% for level in level_list %}
                <a href="{% url 'courses_subject_level'  course_level=level course_subject=subject%}">
                    {{ level}}
                </a> <b>|</b>

            {% endfor %}
            </p>
    {% endfor %}
     </div>
{% endblock %}