{% extends 'display_stats/base.html' %}

{% block content %}

    {% if instructor %}
        <p>Sections taught by <b>{{ instructor }}</b></p>
    {% endif %}

 {% for section, embed in sections_with_graphs %}
    <div>
        <a href ="{% url 'courses_subject_only'   course_subject=section.course.course_subject%}">{{ section.course.course_subject }}</a>
        <a href =" {% url 'courses_subject_level'  course_level=section.course.course_level course_subject=section.course.course_subject%}">{{ section.course.course_level }}</a>
        {{ section.course.course_title }}
        {{ section.class_number }}


        {% for schedule in section.section_schedule.all %}
        {{schedule.days}}
        {{schedule.time_start }}-
        {{schedule.time_end }}
        {{schedule.room }}
        <br>
            {% endfor %}
        <div>
            <iframe width="800" height="300" frameborder="0" scrolling="no" src="{{ embed }}"></iframe>
        </div>

    </div>
{% endfor %}

<div class = "well">
    {% for subject, instructors in course_to_instructor.items %}
        <p>
       <b> {{ subject }}</b>

        {% for instructor in instructors %}
            {% if instructor != 'Staff' %}
                <a href ="{% url  'instructors' instructor=instructor %}">{{ instructor }}</a>
            {% else %}
                {{ instructor }}
            {% endif %}

            <b>|</b>
        {% endfor %}

        </p>
    {% endfor %}
</div>
{% endblock %}