{% extends 'display_stats/base.html' %}
{% block title %}Overview of the enrollment dynamics CSUN Spring 2017  {% endblock %}
{% block content %}

<div class="row">
  <div class="col-sm-4">
      <table class ="table" width = "300">
        <thead>
        <tr>
            <td></td>
            <td>Fall 2017</td>
            <td>Spring 2017</td>
        </tr>
        </thead>

        <tr>
            <td>Total seats</td>
            <td>{{ term_data.fall2017.total_seats }}</td>
            <td>{{ term_data.spring2017.total_seats }}</td>

        </tr>
        <tr>
            <td>Total courses</td>
            <td>{{ term_data.fall2017.number_of_courses }}</td>
            <td>{{ term_data.spring2017.number_of_courses}}</td>
        <tr>
            <td>Total sections</td>
          <td>{{ term_data.fall2017.number_of_sections }}</td>
            <td>{{ term_data.spring2017.number_of_sections}}</td>
        </tr>
        <tr>
            <td>Total number of instructors</td>
            <td>{{ term_data.fall2017.number_of_instructors }}</td>
            <td>{{ term_data.spring2017.number_of_instructors}}</td>
        </tr>

      </table>

  </div>

  <div class="col-sm-8"></div>
</div>




<div class="row">
    <div class="col-sm-12">

        <h2>The dynamics of open seats availability Fall 2017<br> <small>throughout the registration period and the beginning of the semester</small></h2>
        <iframe width="1000" height="500" frameborder="0" scrolling="no" src="{{ term_data.fall2017.dynamic_of_enrollment_embed }}"></iframe>

        <h2>The dynamics of open seats availability Spring 2017<br> <small>throughout the registration period and the beginning of the semester</small></h2>
        <p>Because of some malfunction on the CSUN web site at that period the data prior to Nov 10 is not available</p>
        <iframe width="1000" height="500" frameborder="0" scrolling="no"
                src="{{ term_data.spring2017.dynamic_of_enrollment_embed }}">
        </iframe>

         <br><br>
        <h2>The total number of seats offered in Fall 2017 by subjects.<br> <small>Includes the number of seats currently vacant</small></h2>
        <iframe width="1000" height="500" frameborder="0" scrolling="no"
                src="{{ term_data.fall2017.seats_by_subject_overview_embed }}">
        </iframe>


        <br><br>
        <h2>The total number of seats offered in Spring 2017 by subjects.<br> <small>Includes the number of seats left vacant on 31 Jan</small></h2>
        <iframe width="1000" height="500" frameborder="0" scrolling="no"
                src="{{ term_data.spring2017.seats_by_subject_overview_embed }}">

        </iframe>

        <br><br>
        <h2>The percentage of seats left open in Spring 2017  by section<br>
            <small>sections with less that 10% vacant seats are not shown</small></h2>
        <iframe width="1000" height="500" frameborder="0" scrolling="no"
                src="{{term_data.spring2017.wasted_seats_by_section_overview_embed }}">

        </iframe>

        <br><br>
        <h2>The percentage of seats left open in Fall 2017 by the Jan 31 by section<br>
            <small>sections with less that 10% vacant seats are not shown</small></h2>
        <iframe width="1000" height="500" frameborder="0" scrolling="no"
                src="{{term_data.fall2017.wasted_seats_by_section_overview_embed }}">

        </iframe>

        <br><br>
        <h2>The unit load per instructor CSUN Fall 2017<br> {{term_data.fall2017.draw_instructors_units_embed }}
            <small>
                Some sections
                    {% if term_data.fall2017.unit_load_by_staff_units  %}({{ term_data.fall2017.unit_load_by_staff_units }} units in total) {% endif %}
                are taught by "Staff" and are not accounted for here
            </small>
        </h2>
        <iframe width="1000" height="500" frameborder="0" scrolling="no"
                src="{{term_data.fall2017.draw_instructors_units_embed }}">

        </iframe>

        <br><br>
        <h2>The unit load per instructor CSUN Spring 2017 A<br> {{ term_data.spring2017.unit_load_by_staff_units }}
            <small>
                Some sections
                    {% if term_data.spring2017.unit_load_by_staff_units %}({{ term_data.spring2017.unit_load_by_staff_units }} units in total) {% endif %}
                are taught by "Staff" and are not accounted for here
            </small>
        </h2>
        <iframe width="1000" height="500" frameborder="0" scrolling="no"
                src="{{term_data.spring2017.draw_instructors_units_embed}}">

        </iframe>



    </div>
</div>


{% endblock %}
