{% extends 'display_stats/base.html' %}
{% block title %}

    Raw PDF files for CSUN Spring 2017 enrollment data
{% endblock %}
{% block content %}
    <p>
    These files were <a href ="http://www.csun.edu/OpenClasses">produced by CSUN</a> . All data presented on this site was extracted exclusively from them.
    The total number of files is <b>{{ count }}</b>. But, due to malfunctions of CSUN system, some of them may contain identical information.
    Files are not updated by CSUN at night (7pm to 7am I think) but are presented here anyways.

    </p>
    {%  for key, date, url in list_of_obj %}
     <li> <a href = "{{ url }}">{{ key }} - {{ date }}</a> </li>

    {% endfor %}
{% endblock %}