{% extends 'display_stats/base.html' %}

{% block content %}

    {% for section, embed in sections_with_graphs %}
<div>
    <a href ="{% url 'courses_subject_only'   course_subject=section.course.course_subject%}">{{ section.course.course_subject }}</a>
    <a href =" {% url 'courses_subject_level'  course_level=section.course.course_level course_subject=section.course.course_subject%}">{{ section.course.course_level }}</a>
    {{ section.course.course_title }}
    {{ section.class_number }}


    {% for schedule in section.section_schedule.all %}
    {{schedule.days}}
    {{schedule.time_start }}-
    {{schedule.time_end }}
    {{schedule.room }}
    <br>
        {% endfor %}
    <div>
        <iframe width="800" height="300" frameborder="0" scrolling="no" src="{{ embed }}"></iframe>
    </div>

</div>
{% endfor %}
{% endblock %}