{{section}}<br>
{{schedule}}<br>

        <iframe width="800" height="500" frameborder="0" scrolling="no" src="{{ emb }}"></iframe>

<br>
{%for enrollment in enrollments %}
{{enrollment.publication_time}} <b>{{enrollment.open_seats}}</b><br>
{% endfor %}
